.background {
  background: lightgreen;
}

.boxy {
  width: 95%;
  border: 2px solid black;
  display: inline-block;
  margin: 1%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.box {
  width: 47%;
  border: 2px solid black;
  display: inline-block;
  margin: 1%;
  border-radius: 10px;
  background-color: white;
  vertical-align: top;
}

.middle {
  text-align: center;
}
